.btn {
  display: block;
  min-width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #000;
  border-radius: $border-radius;
  font-family: $sans-serif-font;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all .25s;
  -webkit-appearance: none;
}
