.img-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  background-color: #f2f2f2;
}

.img-container::before {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 56.25%;
}

.img-container img,
.img-container figure,
.img-container picture,
.img-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: initial;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
